.cart {
    padding: 55px 0px;

    @media (max-width: 991.8px) {
        padding: 50px 0px;
    }

    @media (max-width: 479.8px) {
        padding: 30px 0px;
    }

    &__container {
        box-shadow: 0px 0px 8px 1px rgb(183 172 172 / 40%);
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 50px;
        margin: 0 auto 0 auto;

        @media (max-width: 991.8px) {
            padding: 35px;
        }

        @media (max-width: 659.8px) {
            padding: 25px;
        }

        @media (max-width: 479.8px) {
            padding: 15px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        @media (max-width: 659.8px) {
            margin-bottom: 20px;
            flex-direction: column;
            gap: 8px;
        }
    }

    &__title {
        display: flex;
        align-items: center;

        svg {
            width: 29px;
            height: 29px;
            margin-right: 15px;

            @media (max-width: 659.8px) {
                margin-right: 5px;
                width: 25px;
                height: 25px;
            }
        }

        h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 29px;
            letter-spacing: 0.01em;
            color: #000;

            @media (max-width: 659.8px) {
                font-size: 26px;
            }
        }
    }

    &__clear {
        background-color: transparent;
        border: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #B6B6B6;
        cursor: pointer;
        display: inline-flex;
        align-items: center;

        span {
            color: #B6B6B6;
            margin-left: 5px;
        }

        svg,
        span {
            transition: color .2s ease;
        }

        @media (min-width: 992px) {

            &:hover,
            &:hover span {
                color: red;
            }
        }
    }

    &__order {
        border-top: 1px solid #ccc;
        padding-top: 30px;

        @media (max-width: 479.8px) {
            padding-top: 20px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        margin-top: 40px;

        @media (max-width: 659.8px) {
            margin-top: 25px;
        }
    }
}

.order-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media (min-width: 660px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 25px;
    }

    @media (max-width: 659.8px) {
        padding-bottom: 20px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__info {
        display: flex;

        @media (min-width: 992px) {
            align-items: center;
        }

        @media (max-width: 991.8px) {
            flex: 0 0 270px;
        }

        @media (max-width: 659.8px) {
            margin-bottom: 10px;
        }

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 10px;

            @media (max-width: 659.8px) {
                width: 60px;
                height: 60px;
            }
        }
    }

    &__wrapper {
        margin-left: 15px;

        @media (max-width: 479.8px) {
            margin-left: 10px;
        }

        span {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #8D8D8D;
            padding: 3px;

            @media (max-width: 659.8px) {
                font-size: 15px;
                line-height: 1.2;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
        color: #000;

        @media (max-width: 659.8px) {
            max-width: 170px;
            font-size: 17px;
            line-height: 1.2;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 992px) {
            flex: 0 0 50%;
        }

        @media (max-width: 991.8px) {
            @media (min-width: 660px) {
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 15px;
            }
        }
    }

    &__quantity {
        display: flex;
        align-items: center;

        @media (max-width: 991.8px) {
            order: 1;
        }

        button {
            transition: background-color .3s linear, color .3s linear;
            background-color: #D7D7D7;
            border: 0;
            border-radius: 5px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            color: #232323;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &[disabled] {
                opacity: .5;
                &:hover {
                    background-color: #D7D7D7;
                    color: #232323;
                }
            }

            @media (min-width: 992px) {
                &:hover {
                    background-color: #bbb;
                    color: #fff;
                }
            }

            @media (max-width: 659.8px) {
                width: 25px;
                height: 25px;
            }
        }

        span {
            background-color: #fe5f1e;
            border-radius: 5px;
            width: 40px;
            height: 32px;
            margin: 0 12px;
            font-weight: 700;
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0.01em;
            color: white;
            text-align: center;

            @media (max-width: 659.8px) {
                width: 30px;
                height: 25px;
                margin: 0 6px;
                font-size: 18px;
                line-height: 25px;
            }
        }
    }

    &__price {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
        color: #000;
        white-space: nowrap;

        @media (max-width: 659.8px) {
            font-size: 18px;
        }
    }

    &__delete {
        transition: color .4s;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: #D7D7D7;
        width: 32px;
        height: 32px;

        @media (min-width: 992px) {
            &:hover {
                color: red;
            }
        }

        @media (max-width: 659.8px) {
            order: 2;
            width: 25px;
            height: 25px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.total-cart {

    @media (min-width: 660px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
    }

    @media (max-width: 659.8px) {
        margin-top: 25px;
    }

    &__count,
    &__price {
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
        color: #000;

        @media (max-width: 659.8px) {
            font-size: 18px;
        }

        span {
            font-weight: 700;
            margin-left: 15px;
        }
    }

    &__price {
        span {
            color: #FE5F1E;
        }
    }
}

.empty-cart {
    text-align: center;

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.01em;
        color: #000;

        @media (max-width: 659.8px) {
            font-size: 26px;
        }
    }

    p {
        font-size: 18px;
        line-height: 145.4%;
        letter-spacing: 0.01em;
        color: #777;
        margin-top: 15px;

        @media (max-width: 659.8px) {
            margin-top: 5px;
        }
    }

    &__image {
        margin-top: 45px;

        @media (max-width: 659.8px) {
            margin-top: 25px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__home-btn {
        margin-top: 70px;

        @media (max-width: 659.8px) {
            margin-top: 30px;
        }

        a {
            background: #282828;
            border-radius: 30px;
            width: 210px;
            height: 46px;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.015em;
            color: #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}